* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: #222;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo span {
  color: #2563eb;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.menu-icon {
  display: none;
  font-size: 22px;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  gap: 50px;
}

.hero-text h1 span {
  color: #2563eb;
}

.hero-buttons {
  margin-top: 25px;
  margin-bottom: 15px; /* space before social icons */
}


.btn {
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
}

.primary {
  background: #2563eb;
  color: #fff;
}

.outline {
  border: 2px solid #2563eb;
  color: #2563eb;
}

.socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9cc8f3;
  color: #070707;
  transition: all 0.3s ease;
}

.socials a:hover {
  background: #2563eb;
  color: #fff;
}


.hero-image img {
  width: 280px;
  border-radius: 50%;
}

/* SECTIONS */
.section {
  padding: 70px 10%;
  text-align: center;
}

.gray {
  background: #f9fafb;
}

.timeline {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.timeline-item {
  margin-bottom: 25px;
}

.timeline-item span {
  color: #555;
  font-size: 14px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.skills-grid span {
  background: #2563eb;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* FOOTER */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }

  .navbar nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 10%;
    background: white;
    flex-direction: column;
    padding: 15px;
  }

  .menu-icon {
    display: block;
  }
}
