* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f2f6fb;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 50px auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* PROFILE CARD */
.profile-card {position: relative;

  width: 35%;
  background: #000000;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.avatar img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #f7f7f7;
}

.profile-card h2 {
  margin-top: 15px;
}

.profile-card h4 {
  font-weight: 400;
  opacity: 0.9;
}

.socials {
  margin: 15px 0;
}

.socials a {
  color: #fff;
  margin: 0 8px;
  font-size: 18px;
}

.profile-card p {
  font-size: 14px;
  margin: 15px 0;
  line-height: 1.5;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
}

button.outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

button:not(.outline) {
  background: #fff;
  color: #0ea5e9;
}

/* EXPERIENCE */
.experience {
  width: 65%;
  padding: 30px;
}

.experience h2 {
  margin-bottom: 20px;
  color: #333;
}

.timeline {
  border-left: 3px solid #000000;
  padding-left: 25px;
}

.timeline-item {
  margin-bottom: 30px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -33px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: #0ea5e9;
  border-radius: 50%;
}

.year {
  font-size: 14px;
  color: #0ea5e9;
  font-weight: bold;
}

.timeline-item h3 {
  margin: 5px 0;
  color: #333;
}

.timeline-item p {
  font-size: 14px;
  color: #555;
}